# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle bwa-perforce'
      'command': 'BWA Perforce:edit'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'BWA Perforce'
      'submenu': [
        {
          'label': 'Edit'
          'command': 'BWA Perforce:edit'
        }
      ]
    ]
  }
]
